
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))>
  
  <div class="container">

    <h1><strong>Des milliers de jouets en l'attente d'une nouvelle famille </strong>!</h1>
    <p><strong>Pour que l'histoire continue...</strong></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>